
#loader-wrapper {
    background: #34B795;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;

    text-align: center;
}

.loader{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

#loader1 {

    border: 5px solid transparent;
    border-top-color: #fff;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


#loader2 {


    border-top: 5px solid transparent;
    border-top-color: #fff;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#loader3 {


    border-left: 3px solid transparent;
    border-top: 3px solid transparent;

    border-top-color: #fff;
    border-left-color: #fff;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg); /* IE 9 */
        transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }

    50% {
        -webkit-transform: rotate(180deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(180deg); /* IE 9 */
        transform: rotate(180deg); /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg); /* IE 9 */
        transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
}


