/**
 * @desc Example of resizing text in a range based on container size range
 * @based-on: http://stackoverflow.com/a/17845473/189411
 * @author Domenico Monaco | @kiuzhack | monaco.kiuz.it
 * @required jQuery
 */



body{
    background: #ffe226;
    text-align: center;
}
h1 { color: #111; font-family: 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -1px; line-height: 1;
    text-align: center; }

h2 { color: #111; font-family: 'Open Sans', sans-serif; font-weight: 300; line-height: 32px; text-align: center; }

p { color: #685206; font-family: 'Helvetica Neue', sans-serif;line-height: 24px; margin: 0 0 24px; text-align: justify; text-justify: inter-word; }

#size-1{ }

#size-2{
    width: 70%;
    float: none;
    margin: 0 auto;
}