/**
 * Author
 * Domenico Monaco hack@kiuz.it - http://monaco.kiuz.it
 * Happy Hacking
 */

#content {
    margin: 0px auto;
    color: #222;
    max-width: 960px;
}

/** ============ BOTH  ============ **/
#horizontal-tip,
#vertical-tip{
    margin-top: 30px;
    display: block;
    clear: auto;
    overflow: hidden;
}

#horizontal-tip h2.title,
#vertical-tip h2.title {
    display: block;
    position: relative;
    padding-left: 0px;
    padding-bottom: 2px;
}

#horizontal-tip h2.title:after,
#vertical-tip .title:after{
    content: "";
    background: #D77D19;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15px;
    height: 5px;
}

/** ============ HORIZONTAL  ============ **/
#horizontal-tip .images{
    float: left;
    display: block;
    margin-right: 100px;
}

#horizontal-tip .images .img {
    position: relative;
}

#horizontal-tip .images .img:after{
    content: "";
    background: #D77D19;
    position: absolute;
    bottom: -12px;
    left: 0;
    height: 8px;
    width: 120px;
}

#horizontal-tip .images h4{
    color: #D77D19;
    font-size: 30px;
    margin: 0px;
    margin-top: 14px;
}


/** ============ VERTICAL  ============ **/

#vertical-tip .images{
    float: left;
    display: block;
    margin-right: 73px;
    padding-left: 27px;
}

#vertical-tip .images .img {
    position: relative;
}

#vertical-tip .images .img:after{
    content: "";
    background: #D77D19;
    position: absolute;
    bottom: -43px;
    left: -18px;
    height: 102px;
    width: 8px;
}

#vertical-tip .images h4{
    color: #D77D19;
    font-size: 30px;
    margin: 0px;
    margin-top: 5px;
}